option_settings:
  # Application Environment Variables
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: aws
    TZ: UTC
  
  # Single Instance (no load balancer = FREE TIER)
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  
  # Instance type - t2.micro (FREE TIER)
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  
  # Health Check
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health
  
  # Deployment (AllAtOnce para single instance)
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: 600
